<p></p>
<%= form_for @user, url: {action: "complete"} do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.label :email %>
    <%= f.hidden_field :email %>
    <%= @user.email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.hidden_field :password %>
    <%= @user.password %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

<% end %>

<%= render "devise/shared/links" %>
